*.json
dist/
*.c
*.pyc
__pycache__
python/
dokbot/
src/__pycache__
src/classes/__pycache__
src/commands/__pycache__
src/models/__pycache__
src/services/__pycache__
*.db
saves/
data/
config.json
*.so
build/
.vscode
test.py
src/test.py
